
# ------------ Required vars --------------

# Backend url
# Must NOT end with trailing slash `/`.
API_URL=https://my-backend-url.vercel.app

# Frontend url
# Must NOT end with trailing slash `/`.
SITE_URL=https://my-frontend-url.vercel.app

